<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="be.ovam.pad.common.ovamcore.mappers.OrganisatieMapper">


   <!-- ************************************* --> 
   <!-- gebruikersrol                         -->
   <!-- ************************************* --> 
        
    <sql id="gebruikersrol_sql">
        select 
           gr.gebruikersrol_id,
           gr.organisatietype_id,
           gr.code
        from plm.gebruikersrol gr
        where gr.applicatie_id = 8        
    </sql>
    
    <!-- alle gebruikersrollen voor dossierBeheer -->
    <sql id="gebruikersrol_dossierBeheer_sql">
        <include refid="gebruikersrol_sql"/>
            and gr.code like '%DOSSIER'
    </sql>
    
    <!-- alle gebruikersrollen voor financieelBeheer -->
    <sql id="gebruikersrol_financieelBeheer_sql">
        <include refid="gebruikersrol_sql"/>
            and gr.code like '%FINANCIEEL'
    </sql>

   <!-- ************************************* --> 
   <!-- medewerkersrol                        -->
   <!-- ************************************* -->
   
    <sql id="medewerkersrol_actief_conditie">
        <![CDATA[
        (lg.toestandlogin_id != 2 and
         mw.toestandmedewerker_id != 0 and
         mwr.van_d <= current date and current date <  mwr.tot_d )
        ]]>        
    </sql>
   
    <sql id="medewerkersrol_sql">
        select distinct 
               lg.login_id,
               lg.email,
               mw.organisatie_id,
               gr.code,
               gr.organisatietype_id,
               case when <include refid="medewerkersrol_actief_conditie"/> then 'J'
                    else 'N'
               end as actief_jn
        from plm.medewerkersrol mwr
                inner join plm.gebruikersrol gr
                on mwr.gebruikersrol_id = gr.gebruikersrol_id
            inner join plm.medewerker mw
            on mwr.medewerker_id = mw.medewerker_id
                inner join plm.login lg
                on mw.login_id = lg.login_id
        where gr.applicatie_id = 8        
    </sql>
    
    <sql id="medewerkersrol_actief_sql" >
        <include refid="medewerkersrol_sql"/>
            and <include refid="medewerkersrol_actief_conditie"/>
    </sql>

    <!-- alle medewerkersrollen -->
    <select id="medewerkersrol_actief_alle" resultType="ciMap">
        <include refid="medewerkersrol_actief_sql"/>
    </select>
     
    
    <sql id="medewerkersrol_dossierBeheer_sql">
        <include refid="medewerkersrol_sql"/>
            and gr.code like '%DOSSIER' 
    </sql>

    <sql id="medewerkersrol_actief_dossierBeheer_sql">
        <include refid="medewerkersrol_actief_sql"/>
            and gr.code like '%DOSSIER' 
    </sql>
    
    <!-- alle medewerkersrollen voor dossierBeheer -->
    <select id="medewerkersrol_dossierBeheer" resultType="ciMap">
        <include refid="medewerkersrol_dossierBeheer_sql"/>
    </select>
     
    <select id="medewerkersrol_actief_dossierBeheer" resultType="ciMap">
        <include refid="medewerkersrol_actief_dossierBeheer_sql"/>
    </select>

    <select id="medewerkers_dossierBeheer_voor_organisatie" resultType="ciMap">
        with mwr as (
            <include refid="medewerkersrol_actief_dossierBeheer_sql"/>
            and mw.organisatie_id = #{mw.organisatie_id}
        )
        select distinct lg.email
        from mwr 
                inner join plm.login lg
                on mwr.login_id = lg.login_id 
    </select>
    
    
    
    <!-- FINANCIEEL -->
        
    <sql id="medewerkersrol_financieelBeheer_sql">
        <include refid="medewerkersrol_sql"/>
            and gr.code like '%FINANCIEEL' 
    </sql>
    
    <sql id="medewerkersrol_actief_financieelBeheer_sql">
        <include refid="medewerkersrol_actief_sql"/>
            and gr.code like '%FINANCIEEL' 
    </sql>
    
    <select id="medewerkers_financieelBeheer_voor_organisatie" resultType="ciMap">
        with mwr as (
            <include refid="medewerkersrol_actief_financieelBeheer_sql"/>
            and mw.organisatie_id = #{mw.organisatie_id}
        )
        select distinct lg.email
        from mwr 
                inner join plm.login lg
                on mwr.login_id = lg.login_id 
    </select>
                
   <!-- ************************************* --> 
   <!-- organisatietype                       -->
   <!-- ************************************* --> 
   
    <!-- alle organisatietypes voor dossierBeheer -->
    <select id="organisatietype_dossierBeheer" resultType="ciMap">
        with gebruikersrolDossierBeheer as (
            <include refid="gebruikersrol_dossierBeheer_sql"/>      
        )
        select distinct ot.organisatietype_id,
                        ot.organisatietype
        from gebruikersrolDossierBeheer gr
                 inner join plm.ORGANISATIETYPE ot
                 on gr.ORGANISATIETYPE_ID = ot.ORGANISATIETYPE_ID
    </select>
    

           
                                 
   <!-- ************************************* --> 
   <!-- organisatie_organisatietype           -->
   <!-- ************************************* --> 
   
    <select id="organisatie_organisatietype_lijst" resultType="ciMap">
        with medewerkersrol as (
            <include refid="medewerkersrol_sql"/>      
        )
        select distinct organisatie_id,
                        organisatietype_id
        from medewerkersrol
    </select>   
   
    <select id="organisatie_organisatietype_dossierBeheer_lijst" resultType="ciMap">
        with medewerkersrol as (
            <include refid="medewerkersrol_sql"/>
            and gr.code like '%DOSSIER'      
        )
        select distinct mwr.organisatie_id,
                        mwr.organisatietype_id,
                        ot.organisatietype
        from medewerkersrol mwr
                inner join plm.organisatietype  ot
                on mwr.organisatietype_id = ot.organisatietype_id
    </select>   
   
   <!-- ************************************* --> 
   <!-- organisatie                           -->
   <!-- ************************************* --> 
   
    <sql id="organisatie_lijst_sql">
        organisatie_ids as (
            select distinct organisatie_id
            from medewerkersrol
        ),
        organisatie_ids_actief as (
            select distinct organisatie_id
            from medewerkersrol
            where actief_jn = 'J'
        )
        select distinct
                org.organisatie_id,
                org.naam,
               ( coalesce (org.vkbo,' ') || ' ' || coalesce(org.naam, ' ') ||  
                '  [' || coalesce(org.gemeente, ' ') || ',' || coalesce(org.adres, ' ') || ' ' ||  coalesce(org.huisnr, ' ') || ']' ) as label,
               case when orgActief.organisatie_id is null then 'N'
                    else 'J'
               end as actief_jn
        from organisatie_ids orgId
                 inner join plm.organisatie org
                 on orgId.organisatie_id = org.organisatie_id
             left join organisatie_ids_actief orgActief
                 on orgId.organisatie_id = orgActief.organisatie_id
    </sql>
   
   
    <select id="organisatie_lijst" resultType="ciMap">
        with medewerkersrol as (
            <include refid="medewerkersrol_sql"/>      
        ),
        <include refid="organisatie_lijst_sql"/>
    </select>   
   
    <select id="organisatie_dossierBeheer_lijst" resultType="ciMap">
        with medewerkersrol as (
            <include refid="medewerkersrol_dossierBeheer_sql"/>      
        ),
        <include refid="organisatie_lijst_sql"/>
    </select>   

    <select id="organisatie_financieelBeheer_lijst" resultType="ciMap">
        with medewerkersrol as (
            <include refid="medewerkersrol_financieelBeheer_sql"/>      
        ),
        <include refid="organisatie_lijst_sql"/>
    </select>   
      
    

    
        
            
                
                    
                        
    
    
    <sql id="organisatie_dd_from" >
        from plm.ORGANISATIE org
                 inner join  plm.ORGANISATIE_ORGANISATIETYPE oot
                 on org.ORGANISATIE_ID = oot.ORGANISATIE_ID
                 and oot.actief = 1
                     inner join plm.ORGANISATIETYPE ot
                     on oot.ORGANISATIETYPE_ID = ot.ORGANISATIETYPE_ID
    </sql>

    <sql id="gekoppelde_emails_sql" >
        select distinct
            login.email as value,
            login.email as label
        from plm.login login
                inner join plm.medewerker mw
                on mw.login_id = login.login_id
                  inner join plm.medewerkersrol mr
                  on mw.medewerker_id = mr.medewerker_id
                    inner join  plm.gebruikersrol gr
                    on mr.gebruikersrol_id = gr.gebruikersrol_id
                inner join plm.organisatie organisatie
                on mw.organisatie_id = organisatie.organisatie_id
        where 1 = 1
            and login.email is not null
            and login.toestandlogin_id != 2 
            and mw.toestandmedewerker_id != 0
            and (mr.van_d &lt;= current date and current date &lt;  mr.tot_d)
            and gr.applicatie_id = 8
    </sql>
    
    
    <!--
           (5 , 'Labo'),
           (6,  'Gemeente'),
           (7,  'Intercommunale'),
           (8,  'Vlaamse overheidsinstelling'),
           (10, 'Aannemer'),
           (11, 'Bodemdeskundige'),
           (12, 'Veiligheidscoordinator'),
           (13, 'Grondreinigingscentrum'),
           (14, 'Eigenaar'),
           (15, 'Projectontwikkelaar')
    -->
    <sql id="organisatietype_ids_voordossiers" >
        5,6,7,8,10,11,12,13,14,15
    </sql>
    
        
 
    <!--
        organisatie types voor offertes
        (5 , 'Labo'),
        (10, 'Aannemer'),
        (11, 'Bodemdeskundige'),
        (12, 'Veiligheidscoordinator'),
        (13, 'Grondreinigingscentrum'),
    -->
 
    <select id="organisatiesVoorScreening_dd" resultType="ciMap">
        select distinct
                org.organisatie_id,
                org.organisatie_id as value,
               ( coalesce (org.vkbo,' ') || ' ' || coalesce(org.naam, ' ') ||  
                '  [' || coalesce(org.gemeente, ' ') || ',' || coalesce(org.adres, ' ') || ' ' ||  coalesce(org.huisnr, ' ') || ']' ) as label,
                org.naam
        <include refid="organisatie_dd_from"/>
        where oot.ORGANISATIETYPE_ID in (11)
        order by org.naam
    </select>
 
    <select id="emailsVanOrganisatieVoorFinancieel" resultType="ciMap">
        <include refid="gekoppelde_emails_sql"/>
            and gr.code like '%FINANCIEEL'
            and organisatie.organisatie_id = #{organisatie_id}
    </select>       	

</mapper>
