<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="be.ovam.art46.mappers.ActieTypeMapper">

	<cache flushInterval="60000" readOnly="true" />

	<select id="actieTypesByDossierType" resultType="ciMap" parameterType="string">
		select * from ART46.ACTIE_TYPE
		where DOSSIER_TYPE = #{dossier_type}
		order by actie_type_b
	</select>
	
	<select id="alleActiesTypes" resultType="ciMap">
		select * from ART46.ACTIE_TYPE order by actie_type_b
	</select>
	
	<select id="actiesTypes" resultType="ciMap">
		select * from ART46.ACTIE_TYPE where DOSSIER_TYPE in ('A','B')
			order by actie_type_b
	</select>


	<select id="actiesTypesArt46" resultType="ciMap">
		<![CDATA[
		select 
		     (at.DOSSIER_TYPE || ' # ' || at.ACTIE_TYPE_B) as omschrijving,
			at.* 
		from ART46.ACTIE_TYPE at
		where at.DOSSIER_TYPE <> 'J'
		order by omschrijving
		]]>
	</select>

	<select id="actiesSubTypesArt46" resultType="ciMap">
		<![CDATA[
		select
			(at.DOSSIER_TYPE || ' # ' || at.ACTIE_TYPE_B || ' # ' || ast.ACTIE_SUB_TYPE_B) as omschrijving, 
			ast.*
		from ART46.ACTIE_SUB_TYPE ast
				inner join ART46.ACTIE_TYPE at
				on ast.ACTIE_TYPE_ID = at.ACTIE_TYPE_ID
		order by omschrijving
		]]>
	</select>




	<select id="actiesubtypelijst" resultType="ciMap">
		select * from ART46.ACTIE_SUB_TYPE
	</select>
	
</mapper>
