<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="be.ovam.art46.mappers.AdresTypeMapper">

    <cache flushInterval="2000" readOnly="true" />

    <select id="adrestypes" resultType="ciMap">
        select
            adres_type_id,
            adres_type_b,
            adres_type_id as value,
            adres_type_b as label
        from ART46.ADRES_TYPE
        order by adres_type_b
    </select>
    
</mapper>
