<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="be.ovam.art46.mappers.BestekMapper">


    <select id="getNieuwBestekData" resultType="be.ovam.art46.model.BestekDO" parameterType="int" >
    <![CDATA[
        select
              dos.doss_hdr_id as bestek_hdr_id,
              dos.id as dossier_id,
              dos.dossier_type,
              dos.dossier_nr,
              case when dos.dossier_fase_id = 2 then 'J'
                  else 'N'
              end as raamcontract_jn,
              1 as dienst_id,
              2 as type_id,
              21 as btw_tarief,
              1 as procedure_id,
              1 as fase_id,
              'N' as screening_jn
        from art46.v_dossier dos
        where dos.id = #{id}
    ]]>
    </select>

    <select id="getBestek" resultType="be.ovam.art46.model.BestekDO" parameterType="int" >
        select
            bestek_id,
            bestek_nr,
            bestek_hdr_id,
            dossier_id,
            dossier_nr,
            dossier_type,
            type_id,
            procedure_id,
            fase_id,
            dienst_id,
            omschrijving,
            commentaar,
            btw_tarief,
            start_d,
            stop_d,
            afsluit_d,
            verlenging_s,
            wbs_nr,
            screening_jn,
            screening_organisatie_id,
            meetstaat_pdf_brief_id,
            meetstaat_excel_brief_id,
            controle_dms_id,
            controle_dms_folder,
            controle_dms_filename,
            voorstellen_opm,
            raamcontract_jn
        from art46.v_bestek
        where bestek_id= #{bestek_id}
    </select>

    <select id="getOffertesForBestek" resultType="ciMap" parameterType="int" >
        select off.id,
               coalesce(off.inzender, br.adres_naam) as inzender,
               coalesce(off.offerte_brief_id, br.brief_id) as offerte_brief_id,
               coalesce(off.bestek_id, br.bestek_id) as bestek_id,
               coalesce(off.btw_tarief, 21) as btw_tarief,
               off.totaal,
               off.totaal_incl_btw,
               off.opdrachtgever_id,
               off.organisatie_id,
               off.status
        from art46.v_brief br
                left join art46.offerte off
                on br.brief_id = off.offerte_brief_id
        where 1 = 1
            and br.in_aard_id = 10
            and br.bestek_id = #{bestek_id}
        order by br.brief_id
    </select>


    <select id="getNieuwVastleggingsData" resultType="be.ovam.art46.model.AanvraagVastlegging" parameterType="string" >
    <![CDATA[
        SELECT bestek.*, bestek.wbs_nr wbsBestek, bestek.bestek_id bestekId, bestek_procedure.*, bestek_type.*, bestek_fase.*
        FROM art46.BESTEK as bestek
            LEFT JOIN ART46.BESTEK_PROCEDURE as bestek_procedure
                ON bestek.procedure_id = bestek_procedure.procedure_id
            LEFT JOIN ART46.BESTEK_TYPE as bestek_type
                ON bestek.type_id = bestek_type.type_id
            LEFT JOIN ART46.BESTEK_FASE as bestek_fase
                ON bestek.fase_id = bestek_fase.fase_id
        WHERE bestek.bestek_id = #{BESTEK_ID}
    ]]>
    </select>


    <select id="besteksaldo_1" resultType="ciMap" parameterType="int" >
        with vastlegging as (select sum(coalesce(spv.bedrag,0)) AS vastlegging
                             from ART46.BESTEK_SAP_PROJECT absp
                                    left outer join SAP.PROJECT_VASTLEGGING spv
                                    on absp.project_id = spv.project_id
                             where absp.bestek_id = #{bestek_id}
                            )
            , geraamd as (select sum(coalesce(bedrag, 0)) as geraamd
                            from ART46.DEELOPDRACHT absp
                            where bestek_id = #{bestek_id}
                            )
            , factuur as (select sum(coalesce(spv.bedrag, 0)) as  factuur
                            from ART46.BESTEK_SAP_PROJECT absp
                                    left outer join SAP.PROJECT_FACTUUR spv
                                    on (absp.project_id = spv.project_id)
                            where absp.bestek_id = #{bestek_id}
                            )
        select
            vastlegging.vastlegging,
            geraamd.geraamd,
            vastlegging.vastlegging - geraamd.geraamd as geraamd_saldo,
            factuur.factuur,
            vastlegging.vastlegging - factuur.factuur as saldo,
            b.bestek_id,
            b.bestek_nr,
            b.dossier_id,
            dos.raamcontract_jn
        from
            vastlegging, geraamd, factuur,
            art46.bestek b
              inner join art46.v_dossier dos
              on b.dossier_id = dos.id
              and b.bestek_id = #{bestek_id}
    </select>
    <select id="besteksaldo" resultType="ciMap" parameterType="int" >
        select
            b.bestek_id,
            b.bestek_nr,
            b.dossier_id,
            b.raamcontract_jn,
            b.initiele_vastlegging,
            b.vastlegging,
            b.geraamd,
            b.vastlegging - b.geraamd as geraamd_saldo,
            b.gefactureerd as factuur,
            b.vastlegging - b.gefactureerd as saldo,
            b.openstaand_gepland
        from art46.v_ander_dossier_bestek_saldos b
        where b.bestek_id = #{bestek_id}
    </select>

    <select id="getDossierId" resultType="int" parameterType="int">
        SELECT b.dossier_id FROM art46.bestek b where b.bestek_id = #{bestekId}
    </select>


    <select id="deelopdrachtloaddossiers" resultType="ciMap" parameterType="map" >
            select
                dos.dossier_b_l || case dos.dossier_type when 'A' then ' (Afval)'
                                                             else ' (Bodem)'
                end dossier_b_l,
                rtrim(cast(dos.id as char(10))) || '_' || dos.dossier_type dossier_id_l,
                ade.dossier_id
            from
                ART46.V_DOSSIER dos
                    inner join ART46.DEELOPDRACHT ade
                    on ade.dossier_id = dos.id
            where
                ade.deelopdracht_id = #{deelopdracht_id}
        union
            select
                dos.dossier_b_l || case dos.dossier_type when 'A' then ' (Afval)'
                                                             else ' (Bodem)'
                end dossier_b_l,
                rtrim(cast(dos.id as char(10))) || '_' || dos.dossier_type dossier_id_l,
                dos.id dossier_id
            from
                ART46.V_DOSSIER dos
            where
                dos.doss_hdr_id in ( select doss_hdr_id
                                    from ART46.DOSSIER_HOUDER
                                    where 1 = 1
                                        <if test='adminArt46_JN != "J"'>
                                            and doss_hdr_id = #{doss_hdr_id}
                                        </if>
                                union
                                    select doss_hdr_id
                                    from ART46.DOSSIER_HOUDER
                                    where vervanger = #{doss_hdr_id}
                                )
                and dos.afsluit_d is null
                and dos.dossier_type in ('A','B')
            order by 1
    </select>

    <sql id="planningsItemsVoor_prefix" >
        select plv.lijn_id as value,
            dos.dossier_nr || ' - ' || dos.dossier_b || ' (' || dos.doss_hdr_id || ') ' ||
                plv.fase_code || ' ' || coalesce(plv.fase_detail_code, '') || ' : ' || coalesce(plv.ig_bedrag, 0) || ' EUR' as label,
            plv.dossier_id,
            dos.dossier_nr,
            dos.dossier_b,
            dos.doss_hdr_id,
            plv.fase_code,
            plv.fase_detail_code,
            plv.ig_bedrag
        from art46.planning_lijn_versie plv
                inner join art46.v_dossier dos
                on plv.dossier_id = dos.id
            inner join art46.v_planning_fase pf
            on plv.fase_code = pf.fase_code
        where 1 = 1
            and not exists (select *
                        from art46.planning_lijn_versie plv2
                        where plv.lijn_id = plv2.lijn_id
                            and plv.planning_dossier_versie &lt; plv2.planning_dossier_versie)
            and plv.deleted_jn = 'N'
            and (pf.heeft_details_jn = 'N' or plv.fase_detail_code is not null)
    </sql>

    <select id="getPlanningsItemsVoorBestekVastleggingsAanvraag" resultType="ciMap" parameterType="map" >
        <include refid="planningsItemsVoor_prefix"/>
            and plv.DOSSIER_ID = (
                select b.DOSSIER_ID
                from art46.BESTEK b
                where b.BESTEK_ID = #{bestekId}
            )
            and plv.contract_id is null  -- geen deelopdrachten
            and  plv.LIJN_ID not in (Select avv.planningsitem
                                     from art46.AANVRAAGVASTLEGGING avv
                                     where avv.PLANNINGSITEM is not null
                                        and avv.ID != #{aanvraagId})
        order by 1
    </select>

    <select id="getPlanningsItemsVoorDeelOpdracht" resultType="ciMap" parameterType="map" >
        <include refid="planningsItemsVoor_prefix"/>
            and plv.CONTRACT_ID = (
                    select b.DOSSIER_ID
                    from art46.BESTEK b
                    where b.BESTEK_ID = #{bestek_id})
            and  plv.LIJN_ID not in (Select do.PLANNING_LIJN_ID
                                     from art46.DEELOPDRACHT do
                                     where do.PLANNING_LIJN_ID is not null and
                                           do.DEELOPDRACHT_ID != #{deelopdracht_id})
            and (pf.heeft_details_jn = 'N' or plv.FASE_DETAIL_CODE is not null)
            order by 1
    </select>



    <select id="nietAfgeslotenDeelopdrachten" resultType="ciMap" >
        with bestekken as (
            select
                ab.bestek_id,
                ab.bestek_nr,
                ab.dossier_id dossier_id_ander,
                dos.dossier_b dossier_b_ander
            from
                ART46.V_DOSSIER dos
                    inner join ART46.BESTEK ab
                    on dos.id = ab.dossier_id
            where
                dos.RAAMCONTRACT_JN = 'J'
        )
        , vastlegging as (
            select
                sum(coalesce(spv.bedrag,0)) vastlegging, be.bestek_id
            from
                ART46.BESTEK_SAP_PROJECT absp
            inner join bestekken be on (absp.bestek_id = be.bestek_id)
            left outer join SAP.PROJECT_VASTLEGGING spv on (absp.project_id = spv.project_id)
            group by be.bestek_id
        )
        , geraamd as (
            select
                sum(coalesce(bedrag, 0)) geraamd, be.bestek_id
            from
                ART46.DEELOPDRACHT absp,
                bestekken be
            where
                absp.bestek_id = be.bestek_id
            group by be.bestek_id
        )
        select
            dos.doss_hdr_id,
            be.*,
            coalesce(vastlegging.vastlegging, 0) vastlegging,
            coalesce(geraamd.geraamd, 0) geraamd,
            coalesce(vastlegging.vastlegging, 0) - coalesce(geraamd.geraamd, 0) saldo,
            ad.dossier_id,
            ad.bedrag,
            ad.voorstel_d,
            dos.dossier_type,
            ad.goedkeuring_bedrag,
            dos.dossier_b_l dossier_l,
            ad.deelopdracht_id,
            ad.VOORSTEL_DEELOPDRACHT_ID,
            pl.IG_BEDRAG igbedrag,
            coalesce(char(ad.goedkeuring_d, eur), '') goedkeuring_d
        from
            bestekken be
                inner join ART46.DEELOPDRACHT ad on ad.bestek_id = be.bestek_id
                inner join ART46.V_DOSSIER dos on ad.dossier_id = dos.id
                left outer join vastlegging on vastlegging.bestek_id = be.bestek_id
                left outer join geraamd on geraamd.bestek_id = be.bestek_id
                left outer join ART46.V_PLANNING_LIJN pl on pl.lijn_id = ad.PLANNING_LIJN_ID
        where 1 = 1
            and ad.goedkeuring_d is null
            and ad.afkeuring_d is null
            and ad.AFSLUIT_D is null -- niet afgesloten deelopdracht
        order by
            dossier_b_ander, bestek_id
    </select>

    <select id="getBestekOffertesDD"  resultType="ciMap" parameterType="int" >
        select
            off.id as value,
            off.inzender || ' (' || art46.float_format(coalesce(off.totaal_incl_btw, 0)) || ' EUR)' as label
        from art46.offerte off
        where 1 = 1
            and off.BESTEK_ID = #{bestek_id}
            and status= 'Toegewezen'
    </select>

</mapper>
