<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="be.ovam.art46.mappers.DossierhoudersMapper">

    <cache/>

    <select id="beheerDossierhouders" resultType="ciMap">
        select * from ART46.DOSSIER_HOUDER order by doss_hdr_id
    </select>

    <select id="beheerDossierhoudersActief" resultType="ciMap">
        select * from ART46.DOSSIER_HOUDER where actief_jn='J' order by doss_hdr_id
    </select>

</mapper>