<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="be.ovam.art46.mappers.QueryMapper">

    <select id="getAllQueries"  resultType="ciMap">
        select *
        from art46.query
    </select>

    <select id="getResultForQuery"  resultType="org.apache.commons.collections.map.ListOrderedMap"  parameterType="string" >
        ${sql}
    </select>

</mapper>
