<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="be.ovam.art46.mappers.ScreeningMediumMapper">

    <cache/>

    <select id="getScreeningMediumList"  resultType="ciMap">
        select
            med.medium_code,
            med.medium_b,
            'R' as status_crud
        from art46.screening_medium_code med
        order by med.medium_code
    </select>

</mapper>
